# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build
/dist

# testing
/coverage
/test-results
/playwright-report
/.playwright

# misc
.DS_Store
*.pem
next-env.d.ts

# debug
pnpm-debug.log*

# env
.env*.local
*.tsbuildinfo
